<section class="range p-0 m-0">
  <div class="row p-0 m-0">
    <div class="cTabW">
      <div id="tb0" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb1" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb2" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb3" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb4" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb5" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb6" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb7" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb8" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb9" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb10" class="cTab"></div>
    </div>
    <div class="cTabW">
      <div id="tb11" class="cTab"></div>
    </div>
  </div>
  <div id="line"></div>
</section>
